<plugin name='adc-internationalization' version='1.8' grailsVersion='2.2 &gt; *'>
  <author>Emilio Alberdi</author>
  <authorEmail>emilio.alberdi at artdecode dot com dot ar</authorEmail>
  <title>ArtdeCode Internationalization Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/adc-internationalization</documentation>
  <type>AdcInternationalizationGrailsPlugin</type>
  <resources>
    <resource>ar.com.artdecode.internationalization.I18NTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>